<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<<<<<<< HEAD
    <header>
        <audio src="Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
        <nav>
        <a href='@Url.Action("Index")'><button id="botonesJuego">Pagina principal</button></a>
        <a href='@Url.Action("Creditos")'><button id="botonesJuego">Creditos</button></a>
        </nav>
    </header>
    <p>
    Ambrosius lucía siempre unos zapatos prácticos. Es cierto que no destacaban por su belleza, 
    pero se ajustaban bien y eran resistentes del tal modo que casi nunca notaba que los llevaba puestos.
    En realidad, jamás se los quitaba (ni para dormir por la noche), hasta que literalmente no cabía en ellos. 
    Y aun así, su siguiente par siempre se asemejaba al anterior. 
    Aunque, para ser sinceros, Ambrosius no les dedicaba muchos pensamientos.
    ¿Quien es Ambrosius?
    </p>
    <form action = '@Url.Action("Habitacion")'>
    <input type="hidden" name="sala" value="3"/>
    <input type="text" placeholder="Enviar respuesta" name="clave">
    <input type="submit">
    </form>
    <button id="Pistas" onclick="alert('Pista 1: ...')"> Pista 1 </button>
    <button id="Pistas" onclick="alert('Pista 2: ...')"> Pista 2 </button>
    <button id="Pistas" onclick="alert('Pista 3: ...')"> Pista 3 </button>
=======
    <center>
        <header>
            <audio src="Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
            <nav>
                <a href='@Url.Action("Index")'><button id="botonesJuego">Pagina principal</button></a>
                <a href='@Url.Action("Creditos")'><button id="botonesJuego">Creditos</button></a>
            </nav>
        </header>
        <p>
            Ambrosius lucía siempre unos zapatos prácticos. Es cierto que no destacaban por su belleza,
            pero se ajustaban bien y eran resistentes del tal modo que casi nunca notaba que los llevaba puestos.
            En realidad, jamás se los quitaba (ni para dormir por la noche), hasta que literalmente no cabía en ellos.
            Y aun así, su siguiente par siempre se asemejaba al anterior.
            Aunque, para ser sinceros, Ambrosius no les dedicaba muchos pensamientos.
            ¿Quien es Ambrosius?
        </p>
        <button id="Pistas" onclick="alert('Pista 1: ...')"> Pista 1 </button>
        <button id="Pistas" onclick="alert('Pista 2: ...')"> Pista 2 </button>
        <button id="Pistas" onclick="alert('Pista 3: ...')"> Pista 3 </button>
        <form action='@Url.Action("Habitacion")'>
            <input type="hidden" name="sala" value="3" />
            <input type="text" placeholder="Enviar respuesta" name="clave">
            <input type="submit">
        </form>
    </center>
>>>>>>> 1a90cb3c0f36caf54feeac7d685dce3a418ea658
</body>

</html>